@media (min-width: 400px) and (max-width: 869px) {
   .hero-container {
      width: 70%;
   }
}

@media (min-width: 870px) and (max-width: 1449px) {
   .hero-container {
      width: 60%;
   }
}

@media (min-width: 1450px) {
   .hero-container {
      width: 50%;
   }
}
