@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Colors */
    --color-dark-dark-100: 31 30 30;
    --color-dark-dark-300: 17 17 17;
    --color-dark-dark-400: 0 0 0;
    --color-dark-dark-200: 26 26 26;

    --color-light-light-100: 255 255 255;
    --color-light-light-200: 251 251 251;
    --color-light-light-300: 240 240 240;
    --color-light-light-400: 198 198 198;
    --color-light-light-500: 196 196 196;

    --color-primary-primary-100: 108 172 228;
    --color-primary-primary-400: 31 38 183;
    --color-primary-primary-200: 21 94 239;
    --color-primary-primary-300: 0 64 193;

    /* Gradients */

    --gradient-1: linear-gradient(
      rgba(147, 88, 247, 1) 0%,
      rgba(146, 89, 247, 1) 6.666667014360428%,
      rgba(142, 93, 246, 1) 13.333334028720856%,
      rgba(136, 98, 245, 1) 20.000000298023224%,
      rgba(128, 107, 244, 1) 26.66666805744171%,
      rgba(117, 117, 242, 1) 33.33333432674408%,
      rgba(104, 130, 240, 1) 40.00000059604645%,
      rgba(89, 144, 238, 1) 46.666666865348816%,
      rgba(74, 159, 235, 1) 53.33333611488342%,
      rgba(59, 173, 233, 1) 60.00000238418579%,
      rgba(46, 186, 231, 1) 66.66666865348816%,
      rgba(35, 196, 229, 1) 73.33333492279053%,
      rgba(27, 205, 228, 1) 80.0000011920929%,
      rgba(21, 210, 227, 1) 86.66666746139526%,
      rgba(17, 214, 226, 1) 93.33333373069763%,
      rgba(16, 215, 226, 1) 100%
    );
    --gradient-2: linear-gradient(
      rgba(105, 100, 222, 1) 0%,
      rgba(252, 166, 233, 1) 100%
    );
    --gradient-3: linear-gradient(
      rgba(244, 66, 108, 1) 0%,
      rgba(251, 242, 177, 1) 100%
    );
    --gradient-4: linear-gradient(
      rgba(210, 64, 116, 1) 0%,
      rgba(101, 24, 180, 1) 100%
    );
    --gradient-5s: linear-gradient(
      rgba(152, 69, 232, 1) 0%,
      rgba(51, 210, 255, 1) 55.000001192092896%,
      rgba(221, 87, 137, 1) 100%
    );

    /* Spacing */
    --spacing-0-5: 0.125rem;
    --spacing-1: 0.25rem;
    --spacing-1-5: 0.375rem;
    --spacing-2: 0.5rem;
    --spacing-2-5: 0.625rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-9: 2.25rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-28: 7rem;
    --spacing-32: 8rem;
    --spacing-36: 9rem;
    --spacing-40: 10rem;
    --spacing-44: 11rem;
    --spacing-48: 12rem;
    --spacing-52: 13rem;
    --spacing-56: 14rem;
    --spacing-60: 15rem;
    --spacing-3-5: 0.875rem;
    --spacing-64: 16rem;
    --spacing-72: 18rem;
    --spacing-80: 20rem;
    --spacing-96: 24rem;

    /* Border Radius */
    --rounded-none: 0rem;
    --rounded-xss: 0.125rem;
    --rounded-xs: 0.25rem;
    --rounded-sm: 0.375rem;
    --rounded-md: 0.5rem;
    --rounded-lg: 0.625rem;
    --rounded-xl: 0.75rem;
    --rounded-2xl: 1rem;
    --rounded-full: 6.1875rem;

    /* Border Width */
    --border-0: 0rem;
    --border: 0.0625rem;
    --border-2: 0.125rem;
    --border-3: 0.1875rem;
    --border-4: 0.25rem;
    --border-5: 0.3125rem;
    --border-6: 0.375rem;
    --border-0-5: 0rem;
  }
}
